<form #loginFormGroup = 'ngForm' (ngSubmit)= "formDetails(loginFormGroup)">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input 
      type="email" 
      #emailVar = 'ngModel'
      ngModel
      required
      email
      minlength="3"
      name="email"
      class="form-control" 
      id="exampleInputEmail1" 
      [ngClass] = '{"is-invalid" : loginFormGroup.controls.email?.invalid && emailVar.touched }'
      aria-describedby="emailHelp" placeholder="Enter email">
      <div class="invalid-feedback" > 
        <p *ngIf = "emailVar.errors.required">This is a mandatory field</p>
        <p *ngIf = "loginFormGroup.controls.email?.errors.email">Enter a valid email address</p>
        <p *ngIf = "loginFormGroup.controls.email?.errors.minlength">emailaddress length must be more that 3</p>
      </div>
      <div>
        <ul>
          <li><h5>email valid </h5> <span>{{loginFormGroup.controls.email?.valid}}</span></li>
          <li><h5>email invalid </h5> <span>{{loginFormGroup.controls.email?.invalid}}</span></li>
          <li><h5>email touched </h5> <span>{{loginFormGroup.controls.email?.touched}}</span></li>
          <li><h5>email untouched </h5> <span>{{loginFormGroup.controls.email?.untouched}}</span></li>
          <li><h5>email pristine </h5> <span>{{loginFormGroup.controls.email?.pristine}}</span></li>
          <li><h5>email dirty </h5> <span>{{loginFormGroup.controls.email?.dirty}}</span></li>
        </ul>
      </div>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input 
      type="password" 
      ngModel
      name = 'password'
      class="form-control" 
      id="exampleInputPassword1" 
      placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>