<form [formGroup] = 'rootFormGroup'>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" 
      class="form-control" 
      id="name" 
      formControlName = 'name'
      [ngClass] = '{"is-invalid": rootFormGroup.controls.name?.invalid}'
      aria-describedby="emailHelp" 
      placeholder="Name">
    
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <input type="number" 
    class="form-control" 
    id="rating" 
    formControlName = 'rating'
    [ngClass] = '{"is-invalid": rootFormGroup.controls.rating?.invalid}'
    placeholder="rating">
    <div class="invalid-feedback">
      <p *ngIf = "rootFormGroup.get('rating').errors?.check">
        Enter a value between 1 and 10
      </p>
    </div>
  </div>
  <div class="form-check">
    <input class="form-check-input" (click)="notificationProcess()" type="radio" name="notifymethod" id="exampleRadios1" formControlName = "notifymethod" value="phone" checked>
    <label class="form-check-label" for="exampleRadios1">
      Phone Notification
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" (click)="notificationProcess()" type="radio" name="notifymethod" id="exampleRadios2" formControlName = "notifymethod" value="email">
    <label class="form-check-label" for="exampleRadios2">
      Email notification
    </label>
  </div>
  
  <div class="form-group">
    <label for="phone">Phone</label>
    <input 
      type="phone" 
      class="form-control" 
      formControlName = "phone"
      id="phone" 
      [ngClass] = '{"is-invalid": rootFormGroup.get("phone").invalid}'
      placeholder="phone" >
  </div>
  
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input 
      type="email" 
      class="form-control" 
      formControlName = "email"
      id="exampleInputEmail1" 
      [ngClass] = '{"is-invalid": rootFormGroup.get("email").invalid}'
      aria-describedby="emailHelp" 
      placeholder="Enter email">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>